:root {
  --primary-color: rgb(224, 224, 224);
  --header-font: "Explora", cursive;
  --main-font: "Playfair Display", serif;
}
body {
  background-color: rgb(241, 241, 241);
  font-family: var(--main-font);
}
.container {
  background-color: rgb(17, 17, 17);
  max-width: 1000px;
  margin: 0 auto;
}
.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/064/354/original/calum_scott4.jpg?1674635327");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
}
.hero h1 {
  font-weight: 700px;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}
.hero h2 {
  font-family: var(--header-font);
  font-weight: 400px;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 50px;
  letter-spacing: 3px;
}
.hero-content {
  padding: 100px;
}
.hero .hero-btn {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-weight: 700px;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 1.5;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 46px;
  }
  .hero h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .hero .hero-btn {
    font-size: 22px;
    padding: 10px 15px;
  }
}
